@media (min-width: 1200px) {
  .custom-container {
    max-width: 90%;
  }
}

.navbar {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding: 10px 0px;
  
    background-color:rgba(0,0,0,0.9)!important ;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(40, 48, 57, 0.08);
    box-shadow: 0px 3px 10px 0px rgba(40, 48, 57, 0.08);
}

.navbar-scrolled{
    background-color: #333;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(40, 48, 57, 0.08);
    box-shadow: 0px 3px 10px 0px rgba(40, 48, 57, 0.08);
}
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 13px;
    background-color: transparent;
    padding: 23px 18px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    font-weight: 600;
}

body{
    font-family: "proxima-nova", sans-serif;
}
 
.section-background {
      background: url(../img/slider.png) no-repeat center center;
    background-size: cover;
 
    overflow: hidden;
    color: #fff;
    
    
}
.lki{
    padding-top:50%;
}

.mj{
     display: flex;
    align-items: flex-end;
}
.banner__content {
    padding: 50% 0;
}
.w-70{
    width: 50%;
}

 
@media (max-width: 1199px) {
  .banner__content {
    padding: 120px 0 150px;
  }
}
@media (max-width: 991px) {
  .banner__content {
    padding: 90px 0 100px;
  }
 
  .banner__content h1 {
    font-size: 68px;
    margin-bottom: 50px;
  }
  
}
@media (max-width: 767px) {
  .banner__content {
    padding: 120px 0 85px;
  }
 
  .banner__content h1 {
    font-size: 48px;
    margin-bottom: 40px;
  }
   
}
@media (max-width: 575px) {
  .banner__content {
    padding: 120px 0 65px;
  }
  
  .banner__content h1 {
    font-size: 38px;
    margin-bottom: 30px;
  }
   
}
@media (max-width: 575px) {
  .banner__content {
    padding: 120px 0 60px;
  }
   
  .banner__content h1 {
    font-size: 34px;
    margin-bottom: 30px;
  }
   
}


.slh3{
    font-size: 2.5rem;
    font-weight: 600;
}
.slh5{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.slh4{
    text-transform: uppercase;
    font-weight: 600;

}
.slh6{
font-size: 24px;
font-weight: 600;

}
.slh9{
font-size: 18px;
font-weight: 600;

}
.slh7{
font-size: 36px;
font-weight: 600;

}
.slh8{
font-size: 21px;
font-weight: 600;

}

.bbr{
    padding:10px 20px; 
    border-radius: 25px;
}
.bbrw{
    padding:10px 20px; 
    border-radius: 25px;
    color: #fff;
    border:1px solid #fff;
}

.bbrt{
    
    border-radius: 25px;
}

.bgf8faff{
    background-color:#f8faff ;
}

.pt-6{
    padding-top:8vw;
}
.pb-6{
    padding-bottom:8vw;
}

.pt-7{
    padding-top:12vw;
}
.pb-7{
    padding-bottom:12vw;
}

.bgF6F6F7{
background-color:#F6F6F7 ;
}
 
.jkfds{
    
    border-radius: 10px;
    box-shadow: 0px 5px 25px 0px rgba(107, 137.00000000000006, 180, 0.15);
   
}
.jkfds1{
    
    border-radius: 10px;
    box-shadow: 0px 5px 25px 0px rgba(107, 137.00000000000006, 180, 0.15);
 
}
.jkfds1:hover{

    transform: translateY(-8px);
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    box-shadow: 0px 5px 25px 0px rgba(107, 137.00000000000006, 180, 0.15);
}
.jkfds:hover{

    transform: translateY(-8px);
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    box-shadow: 0px 5px 25px 0px rgba(107, 137.00000000000006, 180, 0.15);
}

.ff707B90{
    color: #707B90;
}

.jjjsid {
    height: 50px;
}
.jjjsid img {
    height: 100%;
     width: 100%;
}

.border-none{
    border:none;
}

.bg-clk{
    background:#000;
}
.blu{
    color: #0dcaf0;
} 

.bg-bgde{
    background-color: #00d4ff21;
 color: #00d4ff;
 padding: 10px;
 font-size: 16px;
 font-weight: 400;
 border:1px solid #00d4ff;
 }


.hero {
    width: 100%;
    height: auto;
    background: url(../img/coverbg.png) center top / cover no-repeat;
 }

.hero2 {
    width: 100%;
    height: auto;
    background-color:#8BC34A;
 }

.hero3 {
    width: 100%;
    height: auto;
 
     background-image: linear-gradient(#fff,#f3f3f3);
 }

.pattn{
     width: 100%;
    height: auto;
    background: url(../img/bggtgt.png) center top / cover no-repeat;
}
.ctitle {
    position: absolute;
    top:50%;
    color: #333;
    text-align: center;
}
.kkl{
    background-color: #f8faff;
    color: #fff;
}
.kkl:hover{
    background-color: #222;
    color: #eee;
}

.bbr1 {
    padding: 10px 20px;
    border-radius: 25px;
}
.btn-outline-dark1 {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33,37,41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
}
.bctn {
     
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.brbtm{
    border-bottom: 1px solid #eee;
}

.bgc7e8ff{
    background-color: #c7e8ff;
}
.bgdcf3ff{
    background-color: #dcf3ff;
}

.bge9f9ff{
    background-color: #e9f9ff;
}

.bgd7f1ff{
    background-color: #d7f1ff;
}
.bgcee5f2{
    background-color: #cee5f2;
}


.half{
    opacity: 70%;
}
.third{
    opacity: 50%;
}

.vertical {
  border-left: 1px solid #bdbdbd;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1px;
   

}

.blul{
    font-size: 2rem;
    color: #3ec5eb;
}

.drkbl{
    background-color: #0e0d3a;
}

.bbr2{
    padding: 10px 15px;
    border-radius: 25px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    color: #fff;
}

.bgd60014{
    background-color: #d60014;
}
.bgfff{
    background-color: #fff;
}

.bgrgra{
    background-image: linear-gradient(to right, #880530 , #e7303d);
    color:#fff;
    transition: 0.3s;
}

.bgkjjs{
    background-image: linear-gradient(to right, #40af4f, #ddca4f);
    color: #fff;
}
.bgkjjsscd{
    background-image: linear-gradient(to right, #000, #222);
    color:#fff;
}
 
.bgeef5ff{
    background-color: #eef5ff;
}

.bgffdee0{
    background-color: #ffdee0;
}
.bge4ffde{
    background-color: #e4ffde;
}
 
.cnt{
        display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cnt2{
        display: flex;
    align-items: center;
     justify-content: center;
     
}
.bbr3 {
    padding: 10px 15px;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #fff;
} 
.bbr4 {
    padding: 10px 15px;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #fff;
} 
.bbr4:hover {
    padding: 10px 15px;
    border-radius: 25px;
    color: #333;
    border: 1px solid #333;
    background-color: #fff;
} 

.bbr4 {
    padding: 10px 15px;
    border-radius: 25px;
    color: #FFD700;
    border: 1px solid #FFD700;
} 
.bbr4:hover {
    padding: 10px 15px;
    border-radius: 25px;
    color: #000;
    border: 1px solid #FFD700;
    background-color: #FFD700;
} 


.gold {
    color: #FFD700;
}

.hjklogo1
  {
    height: 40px;
  }
.hjklogo2
  {
    height: 30px;
  }
.hjklogo3
  {
    height: 40px;
  }


@media only screen and (max-width: 600px) {
  .hjklogo1
  {
    height: 30px;
  }
  .hjklogo2
  {
    height: 25px;
  }
  .hjklogo3
  {
    height: 25px;
  }

}

.navbar-brand{
    margin-right: 0px;
}
 
 
 
.about-5-area .about-2-thumb .thumb-2 {
    margin-left: -90px;
}
.about-2-thumb .thumb-2 {
    margin-top: -173px;
    position: relative;
}
.ml-80 {
    margin-left: 80px;
}

.about-5-area .about-2-thumb .thumb-2 .box {
    right: 160px;
}
.about-8-thumb .thumb-2 .box {
    background: #F0323C;
    border-radius: 0;
}
.about-2-thumb .thumb-2 .box {
    position: absolute;
    top: 50%;
     color: #fff;
    right: 90px;
    border-radius: 8px;
 
    height: 160px;
    width: 160px;
    text-align: center;
    padding-top: 20px;
}
    
.studiored{
    color:#C40807;
}  
    
.studioredback{
    background-color:#C40807;
}

.lkjkl{
    display: inline-block;  
            background-color: #43a62d;
            padding:5px 10px;
            color: #fff;
            font-size: 2.5rem;
}    




 
 
.card1 {
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.wrapper1 {
  transition: all 0.5s;
 
  width: 100%;
  z-index: -1;
}

.card1:hover .wrapper1 {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(197, 59, 59, 0.75);

  filter: blur(2px);
}

.wrapper1::before,
.wrapper1::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper1::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper1::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card1:hover .wrapper1::before,
.wrapper1::after {
  opacity: 1;
}

.card1:hover .wrapper1::after {
  height: 120px;
}
.title1 {
  width: 100%;
  transition: transform 0.5s;
}
.card1:hover .title1 {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card1:hover .character {
  opacity: 1;
  transform: translate3d(0%, -15%, 100px);
  transition: scale(1.2);
}

.navbar-toggler{
    border: none;
}
.p-6{
    padding: 4em;
}
.p10{
    padding: 10%;
}

.jklha{
    border:1px solid #fff;
    background: none;
    font-size: 16px;
     line-height: 2.5;
     color: #fff;
     padding: 10px 20px;
     border-radius:  72px 0  0 72px;

}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #fff;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: #fff;
 }

 .jklha:focus {
    color: #E6B446;
    background:  none;
    border-color: #E6B446;
    outline: 0;
    box-shadow: none;
}


.mkjivtn{
    background: linear-gradient(180deg,#e6b446,#ca8404);
    color:#333;
    padding: 0px 40px;
    font-weight: bold;
    border-radius: 0 72px 72px 0;
  cursor:grab/pointer;


} 

.mkjivtn:hover{
    background: linear-gradient(180deg,#ca8404,#e6b446);
    color:#333;
   
}
.mkjivtn2{
    background: linear-gradient(180deg,#e6b446,#ca8404);
    color:#333;
    padding: 10px 40px;
    line-height: 2;
    font-weight: bold;
    border-radius: 50px;
   

} 

.mkjivtn2:hover{
    background: linear-gradient(180deg,#ca8404,#e6b446);
    color:#333;
   
}

.bg-gold{
    background-color: #F2B700;
    text-align: center;
    color: #fff;
}

.p-98{
    padding: 1em;
}

.display-9{
    font-size: 1.2em;}

.brjh{
    border-right: 1px solid #353535;
}
.rem1{
font-size: 1rem;
}
.br35{
border-radius: 150px;
border: 5px solid #F2B700;
padding: 5px;
}

.gold{
    color: #F2B700;
}

.accordion-button:focus{
    box-shadow: none!important;
}

.accordion-button:not(.collapsed) {
background-color: #FFF1CA!important;
color: #333;
}

a {
    text-decoration: none;
}
.pr-3{
    padding-right: 10px;
}

tbody, td, tfoot, th, thead, tr {
    border: none;
}

.table-striped>tbody>tr:nth-of-type(odd)>*
{
    background-color: #FFFBF2;
}



  .pricing {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
        }
        
        .pricing-item {
            position: relative;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            align-items: stretch;
            text-align: center;
            -webkit-flex: 0 1 330px;
            flex: 0 1 330px;
        }
        
        .pricing-action {
            color: inherit;
            border: none;
            background: none;
            cursor: pointer;
        }
        
        .pricing-action:focus {
            outline: none;
        }
        
        .pricing-feature-list {
            text-align: left;
        }
        
        .pricing-palden .pricing-item {
          
            cursor: default;
            color: #333;
            background: #fff;
            box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
            border-radius: 20px 20px 10px 10px;
            margin: 1em;
        }
        
        @media screen and (min-width: 66.25em) {
            .pricing-palden .pricing-item {
                margin: 1em -0.5em;
            }
            .pricing-palden .pricing__item--featured {
                margin: 0;
                z-index: 10;
                box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
            }
        }
        
        .pricing-palden .pricing-deco {
            border-radius: 10px 10px 0 0;
            background: linear-gradient(135deg,#1C67CC,#1255b0);
            padding: 2em 0 8em;
            position: relative;
        }
        
        .pricing-palden .pricing-deco-img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 160px;
        }
        
        .pricing-palden .pricing-title {
            font-size: 1em;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            font-weight: bold;
        }
        
        .pricing-palden .deco-layer {
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
        }
        
        .pricing-palden .pricing-item:hover .deco-layer--1 {
            -webkit-transform: translate3d(15px, 0, 0);
            transform: translate3d(15px, 0, 0);
        }
        
        .pricing-palden .pricing-item:hover .deco-layer--2 {
            -webkit-transform: translate3d(-15px, 0, 0);
            transform: translate3d(-15px, 0, 0);
        }
        
        .pricing-palden .icon {
            font-size: 2.5em;
        }
        
        .pricing-palden .pricing-price {
            font-size: 3em;
            font-weight: bold;
            padding: 0;
            color: #fff;
            margin: 0 0 0.25em 0;
            line-height: 0.75;
        }
        
        .pricing-palden .pricing-currency {
            font-size: .50em;
    vertical-align: top;
    font-family: 'proxima-nova';
    font-weight: 400;
}
           
        }
        
        .pricing-palden .pricing-period {
            font-size: 0.15em;
            padding: 0 0 0 0.5em;
            font-style: italic;
        }
        
        .pricing-palden .pricing__sentence {
            font-weight: bold;
            margin: 0 0 1em 0;
            padding: 0 0 0.5em;
        }
        
        .pricing-palden .pricing-feature-list {
            margin: 0;
            padding: 0.25em 0 0.5em;
            list-style: none;
            text-align: center;
        }
        
        .pricing-palden .pricing-feature {
            padding: 1em 0;
                border-bottom: 1px solid #ededed;
        }
        .pricing-palden .pricing-feature:last-child {
            padding: 1em 0;
                border-bottom: none;
        }
        
        .pricing-palden .pricing-action {
            font-weight: bold;
            margin: auto 3em 2em 3em;
            padding: 1em 2em;
            color: #fff;
            border-radius: 30px;
            background: linear-gradient(135deg,#a93bfe,#584efd);
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
        }
        
        .pricing-palden .pricing-action:hover,
        .pricing-palden .pricing-action:focus {
            background: linear-gradient(135deg,#fd7d57,#f55d59);
        }
        
        .pricing-palden .pricing-item--featured .pricing-deco {
            padding: 5em 0 8.885em 0;
        }
 

.inner-header {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:150vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:250px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
.pricing-palden .pricing-feature-list{
    margin-top: -80px!important;
    z-index: 9;
}
.pricing-palden .pricing-feature-list strong{
     color:#F2B700;
}

@media (min-width: 769px) { 
    .dn{
        display: none;
    }

}
@media (max-width: 768px) { 
    .dn1{
        display: none;
    }

}

.mkjivtn3{
    background: linear-gradient(180deg,#e6b446,#ca8404);
    color:#333;
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 50px;
     width: 100%;
   

} 

.mkjivtn3:hover{
    background: linear-gradient(180deg,#ca8404,#e6b446);
    color:#333;

   }


   .bottomMenu {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
  
    border-top: 1px solid #fee69e;
    background: #000;
    padding: 10px;
    z-index: 9999999999;
    transition: all .5s;
}

.hide {
    opacity:0;
   
}
.show {
    opacity:1;
  
}

@media (min-width: 769px) { 
    .dn{
        display: none;
    }
}
@media (max-width: 768px) { 
    .dn1{
        display: none;
    }
  }


@media (min-width: 769px) { 
    .pabm{
        padding-bottom: 30px;
    }
}
@media (max-width: 768px) { 
    .pabm1{
        padding-bottom: 30px
    }
  }

.car{
    padding: 15px;
    color: #646464;
    border-radius: 5px;
    border:1px solid #646464;
    margin-bottom: 20px;
}
.carm{
    padding: 15px;
    color: #646464;
    text-align: center;
     
}

.jklha2{
    border:1px solid #fff;
    background: none;
    font-size: 16px;
     line-height: 2;
     color: #fff;
     padding: 10px 20px;
     border-radius: 50px;

}

 .jklha2:focus {
    color: #E6B446;
    background:  none;
    border-color: #E6B446;
    outline: 0;
    box-shadow: none;
}

.bt1{
    border-top:1px solid #ccc;
}


.mkjivtn3{
    background: linear-gradient(180deg,#e6b446,#ca8404);
    color:#333;
    padding: 10px 40px;
    
    font-weight: bold;
    border-radius: 50px;
   

} 

.mkjivtn3:hover{
    background: linear-gradient(180deg,#ca8404,#e6b446);
    color:#333;
   
}